HELP.md
target/
.idea/
bin/
src/main/resources/bbqb-prd-99d80e3729ad.json
!.mvn/wrapper/maven-wrapper.jar
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
